#box{
  display: flex;
  width: 200px;
  height: 200px;
  background-color: brown;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  /* transition-property: all; */
  transition-timing-function: ease-in;
  /* transition-property: initial; */
}
#box:hover{
  background-color: antiquewhite;
  cursor: pointer;
  height: 500px;
  width: 500px;
  border-radius: 250px;
}