#box{
  display: flex;
  width: 200px;
  height: 200px;
  background-color: brown;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  /* transition-property: all; */
  transition-timing-function: ease-in;
  /* transition-property: initial; */
}
#box:hover{
  background-color: antiquewhite;
  cursor: pointer;
  height: 1000px;
  width: 1000px;
  border-radius: 500px;
}
#box1{
  background-image: url(https://www.slashfilm.com/img/gallery/one-piece-film-red-showcases-luffys-new-transformation-for-the-first-time/l-intro-1667316814.jpg);
}